POSTGRES_USER=crm
POSTGRES_PASSWORD=crm
POSTGRES_DB=crm_lego
POSTGRES_PORT=5432

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=crm
DATABASE_PASSWORD=crm
DATABASE_NAME=crm_lego
DATABASE_SYNC=true

PORT=3000
CORS_ORIGIN=http://localhost:5173
